# Git
.git
.gitignore

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.log

# Virtual environments
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# MySQL persistent data
data/mysql/db/

# Docker
docker-compose.override.yml

# Jenkins / temporary files
*.tmp
