# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# MySQL data
data/mysql/db/

# Virtual environment
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store

# Jenkins / temporary files
*.tmp

# Docker
docker-compose.override.yml
